#countdown-wrapper {
  text-align: center;
  font-family: 'Georgia', serif;
  color: #f0e9db;
  /* background: rgb(1,20,15); */
  /* background: linear-gradient(170deg, rgba(1,20,15,1) 0%, rgba(0,0,0,1) 100%); */
  background-image: url("../img/bg-counter.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 1rem;
  padding: 1rem;
  max-width: 90%;
  margin: 2rem auto;
}

#countdown-wrapper h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 0;
  color: #e0d5b9;
}

#countdown {
  display: flex;
  justify-content: space-around;
  font-size: 1.2rem;
  gap: 0.5rem;
}

#countdown div {
  background: rgba(255, 255, 255, 0.08);
  padding: 0.3rem;
  border-radius: 0.5rem;
  width: 70px;
}

#countdown span {
  display: block;
  font-size: 1.6rem;
  color: #e0d5b9;
}

#countdown small {
  font-size: 0.8rem;
  color: #e0d5b9;
}